- images = (1..(images_size)).map{ |image_number| { image_path: "../images/#{topic}/#{topic}_#{image_number}.jpg", thumbnail_path: "../images/#{topic}/#{topic}_#{image_number}_th.jpg" } }

- if images.any?
  %ul.clearing-thumbs{ data: { clearing: true } }
    - images.each do |image|
      %li
        =link_to image[:image_path] do
          = image_tag image[:thumbnail_path]
