.topic{ class: "as-#{topic}" }
  .row.topic-anchor
    %a{ name: "#{topic}" }
  .row
    %h1.topic-title= t("topic.#{topic}.title")
  .row
    .small-12.columns.topic-description
      :markdown
        #{t("topic.#{topic}.description")}
      = link_to t('common.read_more'), "/#{topic}.html", class: 'c2a-button' if topic != :home
.border
  .border-link
    %a{ href: "##{next_topic ? next_topic : 'top'}", data: { behavior: 'anchor-scroll' } }
      .border-link-triangle{ class: "#{'as-up' if last}" }
      .border-link-triangle--small{ class: "#{'as-up' if last}" }
