.topic{ class: "as-#{topic}" }
  .row
    .small-12.large-4.large-offset-8.columns.topic-title
      = t("topic.#{topic}.title")
  .row.topic-empty-row
  .row
    .small-12.large-8.columns.topic-description
      = t("topic.#{topic}.description")
